*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    --clr-primary: rgb(221, 64, 43);
    --clr-accent: rgb(61, 179, 230);
    --clr-text-light: rgb(255, 255, 255);
    --clr-text-dark: black;
    --clr-light-gray: rgb(199, 199, 199);
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: var(--clr-text-dark);
    //background-color: rgb(255, 249, 248);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    overflow-x: hidden;
    
    form {
        display: flex;
        flex-direction: column;
        .label {
            font-weight: 500;
            margin-top: .6em;
            margin-bottom: .2em;
            //background-color: white;
            background-color: transparent;
        }
        .radios {
            list-style: none;
        }
        .separator-big {
            height: 2em;
        }
        .separator-small {
            height: .75em;
        }
        .math-field, .graph-formula {
            width: 100%;
            height: 1.5em;
        }
        .form-highlight-button {
            color: var(--clr-text-light);
            background-color: var(--clr-primary);
            padding: .5em .5em;
            border-radius: 100vh;
            border: none;
            width: 30%;
            align-self: center;
        }
        .form-subtle-button {
            font-size: 0.75em;
            background-color: transparent;
            border: 2px solid var(--clr-primary);
            border-radius: 100vh;
            padding: .5em .5em;
            width: 30%;
        }
        .math-field, .graph-formula {
            width: 100%;
            border: 1px solid var(--clr-light-gray);
            border-radius: 5px;
            border-bottom-left-radius: 0;
        }
        .virtual-keys {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: stretch;
            .virtual-key {
                background-color: transparent;
                border: none;
                border-bottom: 1px solid var(--clr-light-gray);
                border-left: 1px solid var(--clr-light-gray);
                padding: 0.3em 0;
                width: 2em;
                &:first-of-type {
                    border-bottom-left-radius: 5px;
                }
                &:last-of-type {
                    border-right: 1px solid var(--clr-light-gray);
                    border-bottom-right-radius: 5px;
                }
            }
        }
    }
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1em 2em;
    background-color: white;
    //background-color: var(--clr-accent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 2px rgb(209, 209, 209);
    z-index: 10;
    .navbar-brand {
        height: 2.5em;
        img {
            height: 100%;
            object-fit: contain;
        }
    }
    .navbar-burger {
        background-color: var(--clr-primary);
        width: 2em;
        height: 2em;
        border-radius: 1em;
        margin-left: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
            display: block;
            height: 3px;
            width: 1.3em;
            background-color: var(--clr-text-light);
            border-radius: 100vh;
            transition: transform 0.2s ease-in;
        }
        span + span {
            margin-top: 2px;
        }
    }
    .navbar-burger-open {
        span {
            visibility: hidden;
            &:first-of-type {
                visibility: visible;
                transform: translateY(100%) rotate(45deg);
            }
            &:last-of-type {
                visibility: visible;
                transform: translateY(-100%) rotate(-45deg);
            }
        }
    }
    .navbar-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        .navbar-item {
            font-size: 1.1rem;
            color: var(--clr-text-dark);
            text-decoration: none;
            font-weight: 500;
        }
        .navbar-button {
            color: var(--clr-text-dark);
            background-color: var(--clr-accent);
            border-radius: 100vh;
            padding: 0.2em 0.4em;
        }
        .navbar-links-inner {
            background-color: var(--clr-primary);
            position: absolute;
            top: 4.5em;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transform: translateX(100%);
            transition: transform 0.2s ease-in;
            .navbar-item {
                color: var(--clr-text-light);
            }
            .navbar-item + .navbar-item {
                margin-top: 1em;
            }
        }
    }
}

.block-content-container {
    flex-grow: 100;
    padding: 2em 7.5vw;
}