{% extends "layout.html" %}
{% block headscript %}
    <title>Vytvořit kvíz</title>
    <style>
#questions-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
#available-questions, #used-questions {
  width: min(480px, 100%);
  display: flex;
  flex-direction: column;
  margin: 16px;
  padding: 16px;
  border-radius: 24px;
}
available-question, used-question {
  display: flex;
  flex-direction: row;
  margin: 8px;
  padding: 8px;
  border-radius: 6px;
  justify-content: space-between;
  background-color: #aaa;
}
available-question > .add-button, used-question > .remove-button {
  width: 36px;
  height: 36px;
  padding: 0;
  font-size: 16pt;
  font-weight: 900;
  background-color: #fff;
}
.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#question-search {
  margin-left: 3px;
}
.hidden {
  display: none;
}
    </style>
{% endblock %}
{% block content %}
    <h1>Vytvořit kvíz</h1>
    <div id="questions-container">
      <div id="available-questions">
        <div><strong>Dostupné otázky</strong> <button>Vytvořit otázku</button></div>
        <div class="search-bar">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <circle cx="10" cy="10" r="7" />
          <line x1="21" y1="21" x2="15" y2="15" />
        </svg>
        <input type="text" id="question-search" placeholder="Hledat podle textu nebo tagů">
        </div>
      </div>
      <div id="used-questions">
        <div><strong>Použité otázky</strong> <button>Vytvořit otázku</button></div>
      </div>
    </div>
    <button id="done" onclick="submitQuiz()">Vytvořit</button>
    <script>
      function submitQuiz(){
        data = {quiz_problems: ""}
        used_questions = document.body.querySelectorAll("used-question")
        used_questions.forEach(question => {
          data.quiz_problems += question.id + " "
        })
        console.log(data)
        fetch(url="/create-quiz", {method: "POST", body: data.quiz_problems})
        console.log(used_questions)
      }
      const questions = new Map([
        {% for question in questions %}
              [{{question.id}} , {text: "{{question.body}}", difficulty: "{{question.difficulty}}", tags: "{{question.tags}}"}],
        {% endfor %}
      ]);
            const renderQuestion = question => `
     ${question.text}
     <br />
     Obtížnost: ${question.difficulty}
     <br />
     Tagy: ${question.tags}
            `
          const availableQuestions = document.querySelector('#available-questions');
          const usedQuestions = document.querySelector('#used-questions');
          questions.forEach((question, questionId) => availableQuestions.innerHTML +=
                  `<available-question id="question-${questionId}">${renderQuestion(question)} <button class="add-button" onclick="addQuestion(${questionId})">+</button></available-question>`
                )
          const addQuestion = questionId => {
                  const question = questions.get(questionId);
                  document.querySelector(`#question-${questionId}`).remove();
                  usedQuestions.innerHTML +=
                    `<used-question id="question-${questionId}">${renderQuestion(question)} <button class="remove-button" onclick="removeQuestion(${questionId})">-</button></available-question>`
                }
          const removeQuestion = questionId => {
                  const question = questions.get(questionId);
                  document.querySelector(`#question-${questionId}`).remove();
                  availableQuestions.innerHTML +=
                    `<available-question id="question-${questionId}">${renderQuestion(question)} <button class="add-button" onclick="addQuestion(${questionId})">+</button></available-question>`
                }
            const questionSearch = document.querySelector('#question-search');
            questionSearch.addEventListener('input', () => {
                    for (const questionElement of document.querySelectorAll('available-question')) {
                            if (questionElement.innerText.toLowerCase().includes(questionSearch.value.toLowerCase())) {
                                    questionElement.classList.remove('hidden');
                                  } else {
                                          questionElement.classList.add('hidden');
                                        }
                          }
                  })
    </script>
{% endblock %}
