{% extends "layout.html" %}

{% block headscript %} 
<style>
    .multiple-ans {
        display: flex;
        flex-direction: column;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/function-plot/dist/function-plot.js"></script>
{% endblock %}

{% block content %}

<h2>Otázka č.5</h2>
<form method="POST">
    {{ form.body }}
    {{ form.options.label(class="label") }} {{ form.options(class="radios") }}
    
    <div class="separator-small"></div>

    {{ form.submit(class="form-highlight-button") }}
</form>

    <script>
      const plotSize = 160;
      for (const li of document.querySelectorAll('#options > li')) {
              const label = li.querySelector('label');
              functionPlot({
                      target: li,
                      width: plotSize,
                      height: plotSize,
                      grid: true,
                      data: [{fn: label.innerText}]
                    });
              label.innerText = '';
            }
            document.querySelector('#options-1').addEventListener('click', () => {
                    Array.from(document.querySelectorAll('#options > li'))[1].style = 'background-color: #6f4;'
                  })
              </script>

{% endblock %}
