<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Matikuj</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon">
    <!-- <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" /> -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    {% block headscript %} {% endblock %}
</head>

<body>
    <!-- START NAV -->
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('index') }}">
                <!-- <img src="{{ url_for('static', filename='images/bulma.png') }}" alt="Logo"> -->
            </a>
        </div>
        <div class="navbar-links">
            <div class="navbar-burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="navbar-links-inner">
                <a href="{{ url_for('index') }}" class="navbar-item is-active">
                    Domů
                </a>
                <a href="{{ url_for('create_question') }}" class="navbar-item">
                    Tvorba otázek
                </a>
                <a href="{{ url_for('session_create') }}" class="navbar-item">
                    Kvíz
                </a>
                <a href="{{ url_for('login') }}" class="navbar-item navbar-button">
                    Přihlásit se
                </a>
            </div>
        </div>
    </nav>
    <!-- END NAV -->

    <div class="block-content-container">
        {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Bulma - Blog theme</strong> by <a href="https://gonzalojs.com">Gonzalo Gutierrez</a>. Based on
                the <a href="http://jigsaw-blog-staging.tighten.co/">jigsaw-blog</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
            </p>
        </div>
    </footer>

</body>

</html>